*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#header{
    background-color: #fed100;
    height: 50px;
    z-index: 100;
}
#nav{
    margin: 0 200px;
}
#nav li a{
    height: 50px;
}
#nav li{
    position: relative;
    color: black;
}
#nav .subnav{
    /* display: none;  */
    position: absolute;
    width: 780px;
    height: 400px; 
    border: 2px solid burlywood;
    display: inline-block;
    border: 1px solid #eee;
}
#nav .subnav {
    display: none;
    background-color: #fff;
}
#nav li:hover .subnav{
    display: block;
    z-index: 1;
}
#nav .subnav > li {
    height:400px;
    width: 30%;
    float: left;
    margin-top: 10px;
    margin-left: 20px ;
}
#PK1,#PK2,#PK3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}
.PKLT li a h3:hover,
.PKK li a h3:hover,
.PKDD li a h3:hover{
    color: #2589ff;
}
.PKDD li a h3{
    padding: 0;
    font-weight: unset;
}
.PKLT li a h3{
    padding: 0;
    font-weight: unset;
}
.PKK li a h3{
    padding: 0;
    font-weight: unset;
}
#PK1 .PKDD a{
    padding: 0;
    height: 40px;
}
#PK2 .PKLT a{
    padding: 0;
    height: 40px;
}
#PK3 .PKK a{
    padding: 0;
    height: 40px;
}

#nav .subnav {
    list-style-type: none;
}
#nav > li{
    display: inline-block;
}
#nav li a{
    text-decoration: none;
    line-height: 50px;
    padding: 0 50px;
    display: block;
    color: black;
}
#nav li:hover a,
#nav .subnav li:hover a{
    background-color: #fff;
    cursor: pointer;
}
#slider{
    position: relative;
}
#slider .slider-main img{
    width: 830px;
    height: 350px;
    margin-top: 20px; 
    margin-left: 161px;
}
#slider .slider-left{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-left: 100px;
}
#slider .slider-left {
    position: absolute;
    top: 1px;
    left: 900px;
    right: 80px;
    /* width: 170px;
    height: 170px;
    margin-bottom: 5px;
    padding-left: 10px; */
}
#slider .slider-left img{
    width: 170px;
    height: 170px;
    margin-bottom: 10px;
    padding-left: 10px;
}
#slider .banner img{
    width: 1180px;
    height: 70px;
    margin-top: 15px; 
    margin-left: 161px;
}
#content{
    margin-left: 161px;
    margin-right: 161px;
    margin-top: 15px;
    width: 1180px;
    height: 500px;
    background-color: #fed100;
}
#content .top{
    height: 45px;
    width: 1180px;
}
#content .top p{
    color: #000;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    float: left;
    line-height: 27px;
    margin: 10px 7px 0 7px;
    width: 1180px;
    clear: both;
    
}
.top p{
      animation:doimauchu ease 1s infinite ;
}
@keyframes doimauchu {
     0%{
        color: black;
     }
     25%{
        color: red;
     }
     75%{
         color: springgreen;
     }
}
#content .bottom{
    width: 1180px;
    height: 455px;
}
#content .bottom .img1{
    height: 445px;
    width: 220px;
    border-radius: 9px;
    border: 2px solid #fff;
    background-color: #fff;
    padding-top: 15px;
    margin-left: 6px;
    margin-right: 5px;
    display: inline-block;
}
#content .bottom  img{
    width: 198px;
    margin-left: 9px;
    margin-top: 15px;
    transition: transform ease .4s;
    margin-bottom: 7px;
}
.img1 a{
    text-decoration: none;
    font-size: 17px;
    margin: 0px auto;
    margin-left: 9px;
    color: black;
}
.img1 a:hover{
    color: #2589ff;
}
.img1 h4{
    font-weight: 100;
    margin-left: 9px;
    margin-bottom: 5px;
}
.img1 strong{
    margin-left: 9px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.img1 img:hover{
    transform: scale(1.1);
}
div.stars {
    width: 220px;
    display: inline-block;
  }
   
  input.star { display: none; }
   
  label.star {
    float: right;
    padding: 10px;
    font-size: 25px;
    color: #444;
    transition: all .2s;
  }
   
  input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }
   
  input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }
   
  input.star-1:checked ~ label.star:before { color: #F62; }
   
  label.star:hover { transform: rotate(-15deg) scale(1.3); }
   
  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }
#box-common{
    width: 1180px;
    height: 564px;
    margin-left: 161px;
    margin-right: 161px;
    margin-top: 50px;
}
#box-common .box-common__top{
    width: 1180px;
    height: 28px;
    display: inline-block;
}
#box-common .box-common__top .box-common__title{
    float: left;
    width: 384px;
    height: 28px;
}
#box-common .box-common__top .box-common__link{
    float: right;
    width: 796px;
    text-align: right;
}
.box-common__link a{
    text-decoration: none;
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    color: #333;
    display: inline-block;
    font-size: 13px;
    line-height: 10px;
    padding: 10px 11px;
}
.box-common__link a:hover{
    color: #2589ff;
}
#box-common .box-common__main {
    height: 844px;
    width: 1180px;
    border: 1px solid #f1f1f1;
}
.listproduct{
    display: flex;
}
.listproduct2{
    padding: 0px 1px;
    margin-top: 2px;
}
.listproduct .listproduct1{
    height: 420px;
    width: 232px;
    border: 1px solid #f1f1f1;
    display:inline-block;
    margin-left: 3px;
}
.listproduct .listproduct1 img{
    width: 208px;
    margin-top: 50px;
}
.listproduct2 .listproduct1{
    height: 420px;
    width: 232px;
    border: 1px solid #f1f1f1;
    display:inline-block;
}
.listproduct2 .listproduct1 img{
    width: 208px;
    margin-top: 50px;
    margin-left: 9px;
    transition: transform ease .4s;
}
.listproduct1 a{
    text-decoration: none;
    font-size: 17px;
    margin: 0px auto;
    margin-left: 9px;
    color: black;
    
}
.listproduct1 a:hover{
    color: #2589ff;
}
.listproduct1 h4{
    font-weight: 100;
    margin-left: 9px;
    margin-bottom: 5px;
}
.listproduct1 strong{
    margin-left: 9px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.listproduct1 img:hover{
    transform: scale(1.02);
}

/* LAPTOP  */

 
#box-common-laptop{
    width: 1180px;
    height: 530px;
    margin-left: 161px;
    margin-right: 161px;
    margin-top: 340px;
}
.box-common__link__laptop{
    float: right;
    margin-top: -25px;
}
.box-common__link__laptop a{
    text-decoration: none;
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    color: #333;
    display: inline-block;
    font-size: 13px;
    line-height: 10px;
    padding: 10px 11px;
}
.box-common__link__laptop a:hover{
    color: #2589ff;
}

#box-common-laptop .box-common__main {
    height: 425px;
    width: 1180px;
    border: 1px solid #f1f1f1;
    margin-top: 25px;
}
#box-common-laptop .listproduct1 img{
    margin-bottom: 10px;
}

#box-common-laptop .listproduct1 span{
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin-right: 5px;
    padding: 4px 5px;
    white-space: nowrap;
}
/* PHỤ KIỆN */

#box-common-phukien{
    width: 1180px;
    height: 564px;
    margin-left: 161px;
    margin-right: 161px;
}
#box-common-phukien .box-common__main {
    height: 430px;
    width: 1180px;
    border: 1px solid #f1f1f1;
    margin-top: 25px;
}
#box-common-phukien .listproduct1 img{
    margin-bottom: 10px;
}

/* Footer */

#footer{
    height: 240px;
    width: 100%;
    display: inline-block;
}
#footer .footer-main{
    height: 240px;
    width: 1180px;
    margin-left: 161px;
    margin-right: 161px;
    display: inline-block;
}
#footer .footer-main-1{
    width: 390px;
    height: 240px;
    border: 1px solid #f1f1f1;
    display: inline-block;

}
#footer .footer-main-1 a{
    display: block;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    line-height: 32px;
}
#footer .footer-main-1 li{
    list-style-type: none;
    margin-top: 5px;
}

#footer .footer-main-1 p a{
    display: inline-block;
    font-weight: bold;
}

#footer .footer-main-2{
    width: 390px;
    height: 240px;
    border: 1px solid #f1f1f1;
    /* display: inline-block; */
    float: right;
}
#footer .footer-main-2 p{
    height: 32px;
    width: 388px;
    line-height: 32px;
}
#footer .footer-main-2 p a{
    color:#2589ff;
    text-decoration: none;
    font-size: 15px;
}
#footer .footer-main-1 li:hover a{
    color: #2589ff;
}


